* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
}

p {
    font-size: 32px;
    margin-left: 12px;
    font-weight: 700;
}

nav a {
    margin-right: 15px;
    font-size: 22px;
    text-decoration: none;
    color: black;
}